<div *ngIf="singleDayForm">
  <form [formGroup]="singleDayForm" (ngSubmit)="createjson(singleDayForm.value)">
    <div formArrayName="openings"
         *ngFor="let opening of singleDayForm.get('openings')['controls']; let i = index;"
    >
      <div [formGroupName]="i">
        <label>
          <input formControlName="fromHours" placeholder="10">
        </label>
        <label>
          <input formControlName="fromMinutes" placeholder="10">
        </label>
        <label>
          <input formControlName="toHours" placeholder="10">
        </label>
        <label>
          <input formControlName="toMinutes" placeholder="10">
        </label>
        <label>
          <input formControlName="takeAway" placeholder="true">
        </label>
        <label>
          <input formControlName="delivery" placeholder="false">
        </label>
        <button *ngIf="i===0" (click)="moreOpenings()">ADD</button>
        <button *ngIf="i!==0"(click)="lessOpenings(i)">REMOVE</button>
      </div>

    </div>
    <button type="submit">OK</button>
  </form>
</div>
